/*this is a component css*/

.WebContainerProps {
    position: absolute;
    height: 100vh;
    width: 100vh;
    background-repeat: repeat;
}

.Label3Props {
    position: absolute;
    top: 13px;
    left: 37px;
    height: 15px;
    width: 32px;
    overflow: hidden;
}

.vStamProps {
    position: absolute;
    top: 13px;
    left: 74px;
    height: 20px;
    width: 66px;
}

.MainCanvasProps {
    position: absolute;
    top: 65px;
    left: 52px;
    height: 192px;
    width: 192px;
    border: lightskyblue solid 1px;
}