
  <div class="table-container">
    <div class="example-container mat-elevation-z8">
      <div class="address-form">
        <div class="form-group">
          <label for="CustomerGroup">Customer Group</label>
          <input type="text" class="form-control" id="street" placeholder="">
        </div>
        <div class="form-group">
          <label for="ActiveAddresses">Active Addresses for this Account</label>
          <button type="button" class="btn btn-primary">Edit Address</button>
        </div>
      </div>
      <ng-content></ng-content>
      <!--<mat-table #table [dataSource]="dataSource">

        &lt;!&ndash;- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" &ndash;&gt;

        &lt;!&ndash; Position Column &ndash;&gt;
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Name Column &ndash;&gt;
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Weight Column &ndash;&gt;
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Symbol Column &ndash;&gt;
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>-->
    </div>
  </div>







